 /* 0 to 768px */
 @media only screen and (max-width: 576px) {
    .contact-h1 {
        font-size: 27px;
    }

  }


  /* /////////////////////////////////////////////////////////////////////////////////////////////////// */
                                   /* 577px to 768px */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width:577px) and (max-width:768px) {
    h2{
      font-size:18px ;
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
                  /* 768px to 1200px */
/* //////////////////////////////////////////////////////////////////////////////////////////////// */

@media (min-width:768px) and (max-width:1200px) {
    /* .dk-footer .contact-us {
      margin-top: 0;
      margin-bottom: 12px;
      padding-left: 12px;
  } */
}


